<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ae96feed-49a5-487c-9695-e6005a43e955/resourceGroups/estudiodedanzas_group/providers/Microsoft.Web/sites/estudiodedanzas</ResourceId>
    <ResourceGroup>estudiodedanzas_group</ResourceGroup>
    <ApiResourceId>/subscriptions/ae96feed-49a5-487c-9695-e6005a43e955/resourceGroups/estudiodedanzas_group/providers/Microsoft.ApiManagement/service/APIBUTACASapi/apis/estudiodedanzasapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://estudiodedanzas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e7c05198-ebb8-42d6-a491-24c93a50c406</ProjectGuid>
    <MSDeployServiceURL>estudiodedanzas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>estudiodedanzas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$estudiodedanzas</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>